* {
    margin: 0;
    padding: 0;
    /* font-family:sans-serif; */
}

.title {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(19, 95, 45); */
    background-image: url(/img/wheat.jpg);
    background-size: 100% 100%;
}

.head {
    height: 100vh;
    width: 100%;

}
.head h1 {
text-align: center;
color: white;
}
.head p {
    margin-top: 30px;
    margin-left: 5px;
    font-size: 17px;
}

.topper {
    height: 100vh;
    width: 100%;
}

.topper1{
    background-image: url(/img/header-bg.jpg);
    background-size: 100% 100%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.topper1 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.topper1 a {
    text-decoration: none;
    margin-left: 20px;
    
}

.topper2 {
    height: 90%;
    width: 100%;
    background-image: url(/img/pexels-bence-szemerey-15203358.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topper2 h1 {
    font-family: "Amatic SC", cursive;
    font-size: 44px;
    color: #fff;
    font-weight: 200;
}